@model List<Post>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Post List</h2>
            <hr />
        <a href="/Users/Create" class="btn btn-primary mb-2"><i class="bi bi-plus-circle"></i> New Post</a>
            
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:200px;">Image</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th style="width:125px;"></th>
                </tr>
                </thead>
               <tbody>
                 @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="/img/@item.Image" class="img-fluid" alt="" /></td>
                        <td>@item.Title</td>
                        <td>@item.IsActive</td>
                        <td>
                            <a href="/posts/edit/@item.PostId" class="btn btn-sm btn-primary">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
               </tbody>
            </table>
        </div>
    </div>